<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.367062845885-0f6o9fj6cbebggmkbbrmseagbln33m2c</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>367062845885-0f6o9fj6cbebggmkbbrmseagbln33m2c.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>367062845885-cgcm7a1g40phj89t1vr08e50altuo7kn.apps.googleusercontent.com</string>
</dict>
</plist>
